/* Grid Layout

.movie-grid{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
}

 

@media (max-width:900px){

.movie-grid{
  grid-template-columns: repeat(2,1fr);
}

}
 

@media (max-width:600px){

.movie-grid{
  grid-template-columns:1fr;
}

} */