/* 

.app{
  max-width:1200px;
  margin:auto;
  padding:40px 20px;
}

.app h1{
  text-align:center;
  font-size:36px;
  margin-bottom:40px;
  color:#f8fafc;
}




@media (max-width:600px){

.app h1{
  font-size:28px;
}

} */