@import "tailwindcss";

/* body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
 
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
form {
  background: #ffffff;
  padding: 30px 25px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 18px;
  transition: transform 0.2s ease;
}

form:hover {
  transform: translateY(-3px);
}

 
input {
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  transition: all 0.25s ease;
}

input:focus {
  border-color: #667eea;
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.2);
}

 
button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

button:active {
  transform: scale(0.98);
}

 
input::placeholder {
  color: #aaa;
}

h1{
  font-size: 20px;
  font-weight: 500;
} */
